<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      login
    </title>
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <style>
      :root {
        --sand-1: #fdfdfc;
        --sand-2: #f9f9f8;
        --sand-3: #f1f0ef;
        --sand-4: #e9e8e6;
        --sand-5: #e2e1de;
        --sand-6: #dad9d6;
        --sand-7: #cfceca;
        --sand-8: #bcbbb5;
        --sand-9: #8d8d86;
        --sand-10: #82827c;
        --sand-11: #63635e;
        --sand-12: #21201c;
      }
    </style>

    <script src="https://cdn.tailwindcss.com">
      
    </script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: [ "Instrument Sans", "sans-serif" ]
            },
            colors: {
              primary: {
                DEFAULT: "#5A45FF",
                lighter: "#a599ff"
              },
              sand: {
                1: "var(--sand-1)",
                2: "var(--sand-2)",
                3: "var(--sand-3)",
                4: "var(--sand-4)",
                5: "var(--sand-5)",
                6: "var(--sand-6)",
                7: "var(--sand-7)",
                8: "var(--sand-8)",
                9: "var(--sand-9)",
                10: "var(--sand-10)",
                11: "var(--sand-11)",
                12: "var(--sand-12)"
              }
            }
          }
        }
      };
    </script>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body class="text-white bg-black flex flex-col items-center justify-center px-10 w-full">
    <div id="allSection">

    <div class="text-center flex flex-col items-center pt-[50px]">
      <img src="/icons/Twitter.svg" class="w-[60px] w-[60px]" alt="" />
      <p class="font-bold text-[24px] my-5">
        Créer un compte
      </p>
      <div class="flex flex-col gap-3 w-[300px]">
        <a class="bg-white text-black py-2 px-[50px] rounded-3xl" href="">S'incrire avec Google</a>
        <a class="bg-white text-black py-2 px-[50px] rounded-3xl" href="">S'incrire avec Apple</a>
        <div class="">
          <p class="z-10 text-[#4B4E52]">OU</p>
        </div>
        <button type="button" id="btnCreate" class="bg-blue-400 text-white py-2 px-[50px] rounded-3xl" href="">Créer un compte</button>
        <p class="text-[#4B4E52] text-[14px]">
          En vous inscrivant, vous acceptez les Conditions d'utilisation et la Politique de confidentialité, notamment l'Utilisation des cookies.
        </p>
        <div class="mb-6">
          <p class="font-bold text-xl mt-8 mb-6">
            Vous avez déjà un compte ?
          </p>
          <button type="button" id="btnLogin" class="bg-white text-blue-400 py-3 px-[100px] hover:bg-[#D7DBDC] rounded-3xl" href="">Se connecter</button>
        </div>
      </div>
    </div>
    <footer class="mt-4 flex gap-3 w-full text-center">
     <div>
        <a href="" class="text-[#4B4E52] text-[12px] pr-1 border-r hover:underline">À propos</a>
        <a href="" class="text-[#4B4E52] text-[12px] pr-1 border-r hover:underline">Télécharger l'application Twitter</a>
        <a href="" class="text-[#4B4E52] text-[12px] pr-1 border-r hover:underline">Télécharger l'application Grok</a>
        <a href="" class="text-[#4B4E52] text-[12px] pr-1 border-r hover:underline">Carrières</a>
        <a href="" class="text-[#4B4E52] text-[12px] pr-1 border-r hover:underline">Conditions d’utilisation</a>
        <a href="" class="text-[#4B4E52] text-[12px] pr-1 border-r hover:underline">Politique de Confidentialité</a>
        <a href="" class="text-[#4B4E52] text-[12px] pr-1 border-r hover:underline">Politique relative aux cookies</a>
        <a href="" class="text-[#4B4E52] text-[12px] pr-1 border-r hover:underline">Développeurs</a>
        <a href="" class="text-[#4B4E52] text-[12px] pr-1 border-r hover:underline">Publicité</a>
        <a href="" class="text-[#4B4E52] text-[12px] pr-1 border-r hover:underline">Paramètres</a>
        <a href="" class="text-[#4B4E52] text-[12px] ">© 2025 Twitter Corp.</a>
     </div>
    </footer>
  </div>
    <script>
        const btnCreate = document.querySelector(`#btnCreate`)
        const btnLogin = document.querySelector(`#btnLogin`)

        btnCreate.addEventListener('click' , signin)
        btnLogin.addEventListener('click' , login)

        function signin(){

    const container = document.querySelector(`body`);
    const container2 = document.querySelector(`#allSection`);
    container2.style.opacity = "30%";
    container.className = "bg-sand-12";
    const sectionForm = document.createElement("form");
    sectionForm.method = "POST";
    sectionForm.action = "/signin";    
    sectionForm.className = "bg-black lg:top-[10%] md:top-[10%] top-[1%] md:left-[16%] lg:left-[28.5%] px-[10px] pt-[5px] pb-[15px] absolute md:w-[520px] lg:w-[43%] h-[100%] w-[100%] md:h-[550px] rounded-[20px] flex gap-0";
    container.appendChild(sectionForm);
    const btnRetour = document.createElement("a");
    btnRetour.href = "";
    btnRetour.className = "text-white lg:text-[25px] hover:bg-sand-11 rounded-[30px] py-[3px] h-[33px] lg:pt-0  lg:h-[38px] px-[10px] "
    btnRetour.style.textDecoration = 'none';
    btnRetour.textContent = "x";
    sectionForm.appendChild(btnRetour);

    const section2 = document.createElement("div");
    sectionForm.appendChild(section2);
    section2.className = "w-[90%]";

    const imageTwitterP = document.createElement("p");
    section2.appendChild(imageTwitterP);
    imageTwitterP.className = "w-full flex justify-center";

    const imageTwitter = document.createElement("img");
    imageTwitterP.appendChild(imageTwitter);

    imageTwitter.className = "w-[45px] h-[45px] my-2";
    imageTwitter.src = "/icons/Twitter.svg";

    const texte = document.createElement("p");
    section2.appendChild(texte);
    texte.textContent = "Créer votre compte";
    texte.className = "font-bold text-2xl text-white py-4 mb-8";


    const inputNom = document.createElement("input");
    inputNom.placeholder = 'Nom';
    inputNom.name = 'nom';
    inputNom.className = 'bg-black px-2 py-3 w-[90%] rounded-[4px] border-[0.5px] border-[#4B4E52] mb-4 hover:border-blue-400';
    section2.appendChild(inputNom);

    const inputPrenom = document.createElement("input");
    inputPrenom.placeholder = 'Prenom';
    inputPrenom.name = 'prenom';
    inputPrenom.className = 'bg-black px-2 py-3 w-[90%] rounded-[4px] border-[0.5px] border-[#4B4E52] mb-4 hover:border-blue-400';
    section2.appendChild(inputPrenom);

    const inputEmail = document.createElement("input");
    inputEmail.placeholder = 'Email';
    inputEmail.name = 'email';
    inputEmail.className = 'bg-black px-2 py-3 w-[90%] rounded-[4px] border-[0.5px] border-[#4B4E52] mb-4 hover:border-blue-400';
    section2.appendChild(inputEmail);

    const inputPassword = document.createElement("input");
    inputPassword.placeholder = 'Mot de passe';
    inputPassword.name = 'password';
    inputPassword.className = 'bg-black px-2 py-3 rounded-[4px] border-[0.5px] border-[#4B4E52] mb-4 w-[90%] hover:border-blue-400';

    section2.appendChild(inputPassword);


    const btnCreateUser = document.createElement("button");
    btnCreateUser.textContent = 'Envoie';
    btnCreateUser.type = "submit";
    btnCreateUser.className = 'bg-white hover:bg-[#D7DBDC] rounded-3xl py-2 px-5 font-bold text-black w-[90%] mt-6';

    section2.appendChild(btnCreateUser);

    const inputCSRF = document.createElement("p");
    inputCSRF.innerHTML = `{{ csrfField() }}`;
    section2.appendChild(inputCSRF);

    

        }
        function login(){
          const container = document.querySelector(`body`);
    const container2 = document.querySelector(`#allSection`);
    container2.style.opacity = "30%";
    container.className = "bg-sand-12";
    const sectionForm = document.createElement("form");
    sectionForm.method = "GET";
    sectionForm.action = "/connexion";
    
    sectionForm.className = "bg-black lg:top-[10%] md:top-[10%] top-[1%] md:left-[16%] lg:left-[28.5%] px-[10px] pt-[5px] pb-[15px] absolute md:w-[520px] lg:w-[43%] h-[100%] w-[100%] md:h-[400px] rounded-[20px] flex gap-0";
    container.appendChild(sectionForm);
    const btnRetour = document.createElement("a");
    btnRetour.href = "";
    btnRetour.className = "text-white lg:text-[25px] hover:bg-sand-11 rounded-[30px] py-[3px] h-[33px] lg:pt-0  lg:h-[38px] px-[10px] "
    btnRetour.style.textDecoration = 'none';
    btnRetour.textContent = "x";
    sectionForm.appendChild(btnRetour);

    const section2 = document.createElement("div");
    sectionForm.appendChild(section2);
    section2.className = "w-[90%]";

    const imageTwitterP = document.createElement("p");
    section2.appendChild(imageTwitterP);
    imageTwitterP.className = "w-full flex justify-center";

    const imageTwitter = document.createElement("img");
    imageTwitterP.appendChild(imageTwitter);

    imageTwitter.className = "w-[45px] h-[45px] my-2";
    imageTwitter.src = "/icons/Twitter.svg";

    const texte = document.createElement("p");
    section2.appendChild(texte);
    texte.textContent = "Connectez-vous à votre compte";
    texte.className = "font-bold text-2xl text-white py-4 mb-8";

    
    const inputEmail = document.createElement("input");
    inputEmail.placeholder = 'Email';
    inputEmail.name = 'email';
    inputEmail.className = 'bg-black px-2 py-3 w-[90%] rounded-[4px] border-[0.5px] border-[#4B4E52] mb-4 hover:border-blue-400';
    section2.appendChild(inputEmail);

    const inputPassword = document.createElement("input");
    inputPassword.placeholder = 'Mot de passe';
    inputPassword.name = 'password';
    inputPassword.className = 'bg-black px-2 py-3 rounded-[4px] border-[0.5px] border-[#4B4E52] mb-4 w-[90%] hover:border-blue-400';

    section2.appendChild(inputPassword);


    const btnCreateUser = document.createElement("button");
    btnCreateUser.textContent = 'Envoie';
    btnCreateUser.type = "submit";
    btnCreateUser.className = 'bg-white hover:bg-[#D7DBDC] rounded-3xl py-2 px-5 font-bold text-black w-[90%] mt-6';

    section2.appendChild(btnCreateUser);

    const inputCSRF = document.createElement("p");
    inputCSRF.innerHTML = `{{ csrfField() }}`;
    section2.appendChild(inputCSRF);
            
        }

    </script>
  </body>
</html>
