<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <style>
      :root {
        --sand-1: #fdfdfc;
        --sand-2: #f9f9f8;
        --sand-3: #f1f0ef;
        --sand-4: #e9e8e6;
        --sand-5: #e2e1de;
        --sand-6: #dad9d6;
        --sand-7: #cfceca;
        --sand-8: #bcbbb5;
        --sand-9: #8d8d86;
        --sand-10: #82827c;
        --sand-11: #63635e;
        --sand-12: #21201c;
      }
    </style>

    <script src="https://cdn.tailwindcss.com">
      
    </script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: [ "Instrument Sans", "sans-serif" ]
            },
            colors: {
              primary: {
                DEFAULT: "#5A45FF",
                lighter: "#a599ff"
              },
              sand: {
                1: "var(--sand-1)",
                2: "var(--sand-2)",
                3: "var(--sand-3)",
                4: "var(--sand-4)",
                5: "var(--sand-5)",
                6: "var(--sand-6)",
                7: "var(--sand-7)",
                8: "var(--sand-8)",
                9: "var(--sand-9)",
                10: "var(--sand-10)",
                11: "var(--sand-11)",
                12: "var(--sand-12)"
              }
            }
          }
        }
      };
    </script>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body id="body" class="h-full bg-black">
    <div id="allSection" class="flex h-full bg-black">
      @include('components/navbar')
      <section class="bg-black lg:w-[600px] h-full md:w-[90%] w-[85%]">
      @include('components/headFollow')
      @each(abonnements in abonnement)
      <a href="" class="hover:bg-[#080808] flex gap-2 p-3  border-x-[0.5px] border-b-[0.5px] border-[#333639]">
        <img class="w-11 h-11 rounded-[50%]" src="https://i5.walmartimages.com/asr/63a7df2a-a706-479e-a388-5dd184fb21d8.30c3b97393fa9b8f7d0e164abc324f24.jpeg" alt="">
        <div>
            <div class="flex lg:w-[500px] items-center justify-between">
                <div class="">
                    <p class="hover:underline text-white">{{abonnements.userAbonnement.nom}} {{abonnements.userAbonnement.prenom}}</p>
                    <p class="text-[#70757A]">@ {{abonnements.userAbonnement.prenom}}</p>
                </div>
                <form action="
                /followers/{{abonnements.userAbonnement.id}}
                " method="POST">
                    {{ csrfField() }}
                    @if(tableauAbonnement.includes(abonnements.userAbonnement.id))
                   <button type="submit" class="bg-sand-12 border-[0.5px] rounded-3xl h-9 py-1 px-2 text-white hover:text-red-500 hover:border-red-500 hover:bg-[#200A0C] font-bold rounded-[30px]">Unfollow</button>
                    @else  
                    <button type="submit" class="bg-white h-9 py-1 px-2 text-black hover:bg-[#D7DBDC] font-bold rounded-[30px]">Follow</button>
                    @endif
                </form>
            </div>
            @if(abonnements.userAbonnement.biographie)
            <p class="text-white">
                {{abonnements.userAbonnement.biographie}}
            </p>
            @endif
        </div>
      </a>
      @end
        </section>
        @include('components/sectionSearch')
      </div>
      @include('components/newTweet')
    
</body>
</html>