<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Home
    </title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <style>
      :root {
        --sand-1: #fdfdfc;
        --sand-2: #f9f9f8;
        --sand-3: #f1f0ef;
        --sand-4: #e9e8e6;
        --sand-5: #e2e1de;
        --sand-6: #dad9d6;
        --sand-7: #cfceca;
        --sand-8: #bcbbb5;
        --sand-9: #8d8d86;
        --sand-10: #82827c;
        --sand-11: #63635e;
        --sand-12: #21201c;
      }
    </style>

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: [ "Instrument Sans", "sans-serif" ]
            },
            colors: {
              primary: {
                DEFAULT: "#5A45FF",
                lighter: "#a599ff"
              },
              sand: {
                1: "var(--sand-1)",
                2: "var(--sand-2)",
                3: "var(--sand-3)",
                4: "var(--sand-4)",
                5: "var(--sand-5)",
                6: "var(--sand-6)",
                7: "var(--sand-7)",
                8: "var(--sand-8)",
                9: "var(--sand-9)",
                10: "var(--sand-10)",
                11: "var(--sand-11)",
                12: "var(--sand-12)"
              }
            }
          }
        }
      };
    </script>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body class="flex bg-black">
    @include('components/navbar')
    <section class="bg-black w-[50%]">
      <div class="flex justify-between border border-sand-8  p-5">
        <P class="font-bold text-[#D9D9D9]">Home</P>
        <img src="/icons/Notifications.svg" alt="">
      </div>
      <form class="border border-sand-8 bg-black ">
        <div class="flex p-5 gap-2 pb-0">
          <img class="w-10 h-10 rounded-[50%]" src="https://i5.walmartimages.com/asr/63a7df2a-a706-479e-a388-5dd184fb21d8.30c3b97393fa9b8f7d0e164abc324f24.jpeg" alt="">
          <input type="text" class="bg-black border border-black hover:border-blue-400 rounded-[30px] p-2 w-[70%]" placeholder="What's happening ?">
        </div>
        <div class="flex justify-between px-5">
          <div class="flex p-5 gap-2">
            <a class="text-[#D9D9D9] hover:bg-sand-11 rounded-[30px] w-10 h-10 flex items-center justify-center font-bold" href=""><img src="/icons/Top-Tweets.svg" alt=""></a>
            <a class="text-[#D9D9D9] hover:bg-sand-11 rounded-[30px] w-10 h-10 flex items-center justify-center font-bold" href=""><img src="/icons/Top-Tweets (3).svg" alt=""></a>
            <a class="text-[#D9D9D9] hover:bg-sand-11 rounded-[30px] w-10 h-10 flex items-center justify-center font-bold" href=""><img src="/icons/Top-Tweets (5).svg" alt=""></a>
            <a class="text-[#D9D9D9] hover:bg-sand-11 rounded-[30px] w-10 h-10 flex items-center justify-center font-bold" href=""><img src="/icons/Top-Tweets (2).svg" alt=""></a>
            <a class="text-[#D9D9D9] hover:bg-sand-11 rounded-[30px] w-10 h-10 flex items-center justify-center font-bold" href=""><img src="/icons/Top-Tweets (4).svg" alt=""></a>
          </div>
          <a class="w-[90px] h-[40px] rounded-[30px] bg-blue-400 text-[#D9D9D9] font-bold flex items-center justify-center hover:bg-black border border-blue-400 hover:text-blue-400 hover:border-blue-400" href=""><p class="">Tweet</p></a>
        </div>
      </form>
      <section class="border border-sand-8 flex p-5 gap-3 bg-black ">
        <img class="w-10 h-10 rounded-[50%]" src="https://berqwp-cdn.sfo3.cdn.digitaloceanspaces.com/cache/belleandchic.com/wp-content/uploads/2022/01/coiffure-visage-carre-3-jpg.webp" alt="">
        <div>
          <div class="flex gap-2">
            <p class="font-bold  text-[#D9D9D9]">CNN</p>
            <p class="text-sand-10">@CNN</p>
          </div>
          <p class="w-[80%] text-[#D9D9D9]">President Joe Biden touted a new agreement reached with the European Union to ease Trump-era tariffs on aluminum and steel as a "major breakthrough" that would serve to both strengthen the US steel industry and combat the global climate crisis.</p>
          <img src="" alt="">
          <div class="w-[100svh] grid grid-cols-4 pt-4">
            <div class="flex gap-2">
              <a href=""><img src="/icons/Reply.svg" alt=""></a>
              <p class="text-sand-10">52</p>
            </div>
            <div class="flex gap-2">
              <a href=""><img src="/icons/Retweet.svg" alt=""></a>
              <p class="text-sand-10">178</p>
            </div>
            <div class="flex items-center gap-2">
              <a href=""><img src="/icons/Buton.svg" alt=""></a>
              <p class="text-sand-10">85</p>
            </div>
            <div>
              <a href=""><img src="/icons/Share.svg" alt=""></a>
            </div>
          </div>
        </div>
      </section>
      <section class="border border-sand-8 flex p-5 gap-3 bg-black ">
        <img class="w-10 h-10 rounded-[50%]" src="https://www.bcd-jeux.fr/34087-pdt_771/creart-new-york-city-format-carre-peinture-au-numero-ravensburger.jpg" alt="">
        <div>
          <div class="flex gap-2">
            <p class="font-bold text-[#D9D9D9]">The New York Times</p>
            <p class="text-sand-10">@nytimes</p>
          </div>
          <p class="w-[80%] text-[#D9D9D9]">
Gardening boomed during the pandemic. Six Black writers share how it has helped them re-establish, and reimagine, a connection to cultivation and the land
          </p>
          <img class="h-[250px] w-[500px] rounded-[30px]" src="https://png.pngtree.com/thumb_back/fh260/background/20230408/pngtree-bright-warm-color-background-of-flowers-and-flowers-image_2160309.jpg" alt="">
          <div class="w-[100svh] grid grid-cols-4 pt-4">
            <div class="flex gap-2">
              <a href=""><img src="/icons/Reply.svg" alt=""></a>
              <p class="text-sand-10">52</p>
            </div>
            <div class="flex gap-2">
              <a href=""><img src="/icons/Retweet.svg" alt=""></a>
              <p class="text-sand-10">178</p>
            </div>
            <div class="flex items-center gap-2">
              <a href=""><img src="/icons/Buton.svg" alt=""></a>
              <p class="text-sand-10">85</p>
            </div>
            <div>
              <a href=""><img src="/icons/Share.svg" alt=""></a>
            </div>
          </div>
        </div>
      </section>


      <section class="border border-sand-8 flex p-5 gap-3 bg-black ">
        <img class="w-10 h-10 rounded-[50%]" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMI8zZdy2_bOTnzkUDUekVff-lYfC-HACqig&s" alt="">
        <div>
          <div class="flex gap-2">
            <p class="font-bold  text-[#D9D9D9]">Twitter</p>
            <p class="text-sand-10">@Twitter</p>
          </div>
          <p class="text-[#D9D9D9]">BIG NEWS lol jk still  Twitter</p>
          <img src="" alt="">
          <div class="w-[100svh] grid grid-cols-4 pt-4">
            <div class="flex gap-2">
              <a href=""><img src="/icons/Reply.svg" alt=""></a>
              <p class="text-sand-10">52</p>
            </div>
            <div class="flex gap-2">
              <a href=""><img src="/icons/Retweet.svg" alt=""></a>
              <p class="text-sand-10">178</p>
            </div>
            <div class="flex items-center gap-2">
              <a href=""><img src="/icons/Buton.svg" alt=""></a>
              <p class="text-sand-10">85</p>
            </div>
            <div>
              <a href=""><img src="/icons/Share.svg" alt=""></a>
            </div>
          </div>
        </div>
      </section>

      <section class="border border-sand-8 flex p-5 gap-3 bg-black ">
        <img class="w-10 h-10 rounded-[50%]" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMI8zZdy2_bOTnzkUDUekVff-lYfC-HACqig&s" alt="">
        <div>
          <div class="flex gap-2">
            <p class="font-bold  text-[#D9D9D9]">Twitter</p>
            <p class="text-sand-10">@Twitter</p>
          </div>
          <p class="text-[#D9D9D9]">Hello literally everyone</p>
          <img src="" alt="">
          <div class="w-[100svh] grid grid-cols-4 pt-4">
            <div class="flex gap-2">
              <a href=""><img src="/icons/Reply.svg" alt=""></a>
              <p class="text-sand-10">52</p>
            </div>
            <div class="flex gap-2">
              <a href=""><img src="/icons/Retweet.svg" alt=""></a>
              <p class="text-sand-10">178</p>
            </div>
            <div class="flex items-center gap-2">
              <a href=""><img src="/icons/Buton.svg" alt=""></a>
              <p class="text-sand-10">85</p>
            </div>
            <div>
              <a href=""><img src="/icons/Share.svg" alt=""></a>
            </div>
          </div>
        </div>
      </section>


      <section class="border border-sand-8 flex p-5 gap-3 bg-black ">
        <img class="w-10 h-10 rounded-[50%]" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMI8zZdy2_bOTnzkUDUekVff-lYfC-HACqig&s" alt="">
        <div>
          <div class="flex gap-2">
            <p class="font-bold  text-[#D9D9D9]">Twitter</p>
            <p class="text-sand-10">@Twitter</p>
          </div>
          <p class="text-[#D9D9D9]">Hello literally everyone</p>
          <img src="" alt="">
          <div class="w-[100svh] grid grid-cols-4 pt-4">
            <div class="flex gap-2">
              <a href=""><img src="/icons/Reply.svg" alt=""></a>
              <p class="text-sand-10">52</p>
            </div>
            <div class="flex gap-2">
              <a href=""><img src="/icons/Retweet.svg" alt=""></a>
              <p class="text-sand-10">178</p>
            </div>
            <div class="flex items-center gap-2">
              <a href=""><img src="/icons/Buton.svg" alt=""></a>
              <p class="text-sand-10">85</p>
            </div>
            <div>
              <a href=""><img src="/icons/Share.svg" alt=""></a>
            </div>
          </div>
        </div>
      </section>
    </section>  


    <div class="bg-black p-4 w-[25%] h-full">
      <input class="bg-sand-12 p-3  w-full rounded-[30px] mb-6" placeholder="Serach Twitter" type="text">
      <div class="bg-sand-12 p-3 rounded-[30px] mb-4">
        <div class="flex justify-between px-1 mb-4">
          <p class="font-bold text-xl text-[#D9D9D9]">Trends for you</p>
          <a href=""><img src="/icons/Settings.svg" alt=""></a>
        </div>
        <div class="flex items-center justify-between p-3">
          <div class="flex flex-col gap-0">
            <p class="text-[11px] text-[#D9D9D9]">Trending in TurKey</p>
            <p class="text-[13px] font-bold text-[#D9D9D9]">#SQUID</p>
            <p class="text-[11px] text-[#D9D9D9]">2,066 Tweets</p>
          </div>
          <a class="text-[#D9D9D9] hover:bg-sand-11 rounded-[30px] w-10 h-10 flex items-center justify-center font-bold" href=""><p class="pb-2">...</p></a>
        </div>
        <div class="flex items-center justify-between p-3">
          <div class="flex flex-col gap-0">
            <p class="text-[11px] text-[#D9D9D9]">Trending in TurKey</p>
            <p class="text-[13px] font-bold text-[#D9D9D9]">#SQUID</p>
            <p class="text-[11px] text-[#D9D9D9]">2,066 Tweets</p>
          </div>
          <a class="text-[#D9D9D9] hover:bg-sand-11 rounded-[30px] w-10 h-10 flex items-center justify-center font-bold" href=""><p class="pb-2">...</p></a>
        </div>
        <div class="flex items-center justify-between p-3">
          <div class="flex flex-col gap-0">
            <p class="text-[11px] text-[#D9D9D9]">Trending in TurKey</p>
            <p class="text-[13px] font-bold text-[#D9D9D9]">#SQUID</p>
            <p class="text-[11px] text-[#D9D9D9]">2,066 Tweets</p>
          </div>
          <a class="text-[#D9D9D9] hover:bg-sand-11 rounded-[30px] w-10 h-10 flex items-center justify-center font-bold" href=""><p class="pb-2">...</p></a>
        </div>
        <div class="flex items-center justify-between p-3">
          <div class="flex flex-col gap-0">
            <p class="text-[11px] text-[#D9D9D9]">Trending in TurKey</p>
            <p class="text-[13px] font-bold text-[#D9D9D9]">#SQUID</p>
            <p class="text-[11px] text-[#D9D9D9]">2,066 Tweets</p>
          </div>
          <a class="text-[#D9D9D9] hover:bg-sand-11 rounded-[30px] w-10 h-10 flex items-center justify-center font-bold" href=""><p class="pb-2">...</p></a>
        </div>
        <a href="" class="text-md px-3 font-bold text-blue-400 hover:text-blue-200">Show more</a>
      </div>
      <div class="bg-sand-12 p-3 rounded-[30px]">
        <p class="text-[#D9D9D9] font-bold text-xl mb-5">Who to follow</p>
        <div class="flex justify-between gap-4 mb-3">
          <div class="flex gap-2">
            <img src="/icons/Notifications.svg" alt="">
          <div class="">
            <p class="text-[13px] text-[#D9D9D9] font-bold">The New York Times</p>
            <p class="text-[13px] text-sand-9">@nytimes</p>
          </div>
          </div>
          <a href="" class="bg-[#D9D9D9] py-1 px-2 text-black font-bold border border-[#D9D9D9] hover:bg-black hover:text-[#D9D9D9] rounded-[30px]">Follow</a>
        </div>
        <div class="flex justify-between gap-4 mb-3">
          <div class="flex gap-2">
            <img src="/icons/Notifications.svg" alt="">
          <div class="">
            <p class="text-[13px] text-[#D9D9D9] font-bold">CNN</p>
            <p class="text-[13px] text-sand-9">@CNN</p>
          </div>
          </div>
          <a href="" class="bg-[#D9D9D9] py-1 px-2 text-black font-bold border border-[#D9D9D9] hover:bg-black hover:text-[#D9D9D9] rounded-[30px]">Follow</a>
        </div>
        <div class="flex justify-between mb-3">
          <div class="flex gap-2">
            <img src="/icons/Notifications.svg" alt="">
          <div class="">
            <p class="text-[13px] text-[#D9D9D9] font-bold">Twitter</p>
            <p class="text-[13px] text-sand-9">@twitter</p>
          </div>
          </div>
          <a href="" class="bg-[#D9D9D9] py-1 px-2 text-black font-bold border border-[#D9D9D9] hover:bg-black hover:text-[#D9D9D9] rounded-[30px]">Follow</a>
        </div>
      </div>
    </div>
  </body>
</html>