<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Home
    </title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <style>
      :root {
        --sand-1: #fdfdfc;
        --sand-2: #f9f9f8;
        --sand-3: #f1f0ef;
        --sand-4: #e9e8e6;
        --sand-5: #e2e1de;
        --sand-6: #dad9d6;
        --sand-7: #cfceca;
        --sand-8: #bcbbb5;
        --sand-9: #8d8d86;
        --sand-10: #82827c;
        --sand-11: #63635e;
        --sand-12: #21201c;
      }
    </style>

    <script src="https://cdn.tailwindcss.com">
      
    </script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: [ "Instrument Sans", "sans-serif" ]
            },
            colors: {
              primary: {
                DEFAULT: "#5A45FF",
                lighter: "#a599ff"
              },
              sand: {
                1: "var(--sand-1)",
                2: "var(--sand-2)",
                3: "var(--sand-3)",
                4: "var(--sand-4)",
                5: "var(--sand-5)",
                6: "var(--sand-6)",
                7: "var(--sand-7)",
                8: "var(--sand-8)",
                9: "var(--sand-9)",
                10: "var(--sand-10)",
                11: "var(--sand-11)",
                12: "var(--sand-12)"
              }
            }
          }
        }
      };
    </script>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body id="body" class="h-full bg-black">
    <div id="allSection" class="flex h-full bg-black">
      @include('components/navbar')
      <section class="bg-black lg:w-[600px] h-full md:w-[90%] w-[85%]">

        <div class="flex items-center gap-3 px-6 py-4 border border-[#333639]">
          <a href="/">            <img class="w-11 h-11 hover:bg-sand-11 p-2 rounded-[50%] rounded-[50%]" src="/icons/arrow-back.svg" alt="" /></a>
          <div>
            <p class="text-[#D9D9D9] font-bold text-lg">
              {{((await users).prenom)}} {{((await users).nom)}}
            </p>
            <p class="text-sand-9">
              {{totalPost}} posts
            </p>
          </div>
        </div>

        <div class="text-[#D9D9D9] border-r border-l border-[#333639]">
          <div class="relative mb-[110px] md:mb-[110px] lg:mb-[90px] ">
            @if(((await users).photoDeCouverture))
            <img class="w-full lg:h-[200px]"
            src="/uploads/{{(await users).photoDeCouverture}}" alt="">
            @else
            <div class="w-full lg:h-[200px] bg-[#333639]">
            </div>
            @endif

            <div class="flex justify-between w-full  items-center p-3 absolute top-[45px] md:top-[120px] lg:top-[100px]">
              @if(((await users).photoDeProfil))
              <img
                class="md:w-[150px] md:h-[150px] w-[115px] h-[115px] border-4 border-black rounded-[50%]"
                src="/uploads/{{(await users).photoDeProfil}}"
                alt=""
              />
              @else
            <div class="md:w-[150px] md:h-[150px] w-[115px] h-[115px] lg:text-[60px] bg-[#78909C] lg  text-white flex items-center justify-center rounded-[50%] px-4">

          <p>{{ ((await users).nom).charAt(0) }}</p>
        </div>
        @endif
              <form class="relative lg:top-14" action="/followers/{{(await users).id}}" method="POST">
                {{ csrfField() }}
                @if(tableauAbonnement.includes((await users).id))
                <button type="submit" class="bg-sand-12 border-[0.5px] rounded-3xl h-9 py-1 px-2 text-white hover:text-red-500 hover:border-red-500 hover:bg-[#200A0C] font-bold rounded-[30px]">Unfollow</button>
                @else
                <button type="submit" class="bg-white h-9 py-1 px-2 text-black hover:bg-[#D7DBDC] font-bold rounded-[30px]">Follow</button>
                @endif
            </form>
            </div>
          </div>
          <div class="p-4 flex flex-col gap-1">
            <div>
              <p class="text-white font-bold text-xl">
                {{((await users).prenom)}} {{((await users).nom)}}
              </p>
              <p class="text-sand-9">
                @ {{((await users).nom)}}
              </p>
            </div>
            @if((await users).biographie !== null )
            <p class="w-full text-sand-9">
              {{((await users).biographie)}}
            </p>
            @endif
            <div class="flex gap-3">
              @if((await users).localisation !== null)
              <p class="text-sand-9">
                {{(await users).localisation}}
              </p>
              @endif
              @if((await users).lien !== null)
              <a href="{{user?.lien}}" class="text-blue-500">
                {{(await users).lien}}
              </a>
              @endif
              <p class="text-sand-9">
                Joined  {{((await users).createdAt).toFormat('MM/yyyy')}}
              </p> 
            </div>
            <div class="flex gap-2">
              <a href="/getFollowers" class="text-sand-9 hover:underline hover:text-white">
                <span class="font-bold text-white">{{total1}} </span>Followers
            </a>
              <a href="/getFollowings" class="text-sand-9 hover:underline hover:text-white">
                <span class="font-bold text-white">{{total2}}</span>Following
            </a>
            </div>
          </div>
        </div>
        <div class="border-r border-l border-[#333639] pt-3">
          <div class="grid grid-cols-6">
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Posts</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Replies</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Highlights</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Articles</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Média</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Likes</a>
          </div>
          <div>
            @each(publications in publication)
            <section class="border-y-[0.5px] border-[#333639] flex p-3 gap-3 bg-black ">
              @if((await users).photoDeProfil)
              <img
                class="w-10 h-10 rounded-[50%]"
                src="/uploads/{{(await users).photoDeProfil}}"
                alt=""
              />
              @else
              <div class="w-[40px] h-[40px] bg-[#78909C]  text-white flex items-center justify-center rounded-[50%] px-4">
                <p>{{((await users).nom).charAt(0)}} </p>
              </div>
              @endif

              <div class="flex flex-col gap-3 lg:w-[100%]">
                <div class="flex gap-2">
                  <p class="font-bold  text-[#D9D9D9]">
                    {{(await users).prenom}}
                  </p>
                  <p class="text-sand-10">
                    @ {{(await users).nom}}
                  </p>
                </div>
                <p class="text-[#D9D9D9]">
                  {{publications.texte}}
                </p>
                @if(publications.media)
                <video src="/uploads/{{publications.media}}"  class="rounded-xl" controls alt="" ></video>
                @endif
                <img src="/uploads/{{publications.media}}"  class="rounded-xl" alt="" />


                <div class="md:w-[100%] w-[350px]  grid grid-cols-4 pt-4">
                  <div class="flex gap-2">
                    <a href="">                  <img src="/icons/Reply.svg" alt="" /></a>
                    <p class="text-sand-10">
                      52
                    </p>
                  </div>
                  <div class="flex gap-2">
                    <a href="">                  <img src="/icons/Retweet.svg" alt="" /></a>
                    <p class="text-sand-10">
                      178
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <a href="">                  <img src="/icons/Buton.svg" alt="" /></a>
                    <p class="text-sand-10">
                      85
                    </p>
                  </div>
                  <div>
                    <a href="">                  <img src="/icons/Share.svg" alt="" /></a>
                  </div>
                </div>
              </div>
            </section>
            @end
          </div>
        </div>

        <div class="text-white border border-[#333639] p-4">
          <p class="text-xl font-bold mb-6">
            Who to follow
          </p>
          @each(userAlls in userAll)
          <div class="flex gap-4 mb-5 w-full">
            @if(userAlls.photoDeProfil)
            <img
              class="w-10 h-10 rounded-[50%]"
              src="/uploads/{{userAlls.photoDeProfil}}"
              alt=""
            />
            @else
            <div class="w-[40px] h-[40px] bg-[#78909C]  text-white flex items-center justify-center rounded-[50%] px-4">

          <p>{{ (userAlls.nom).charAt(0) }}</p>
        </div>
        @endif
            <div class="flex flex-col gap-3 w-full">
              <div class="flex justify-between items-center w-full">
                <div>
                  <a class="hover:underline" href="/user/{{userAlls.id}}">
                    {{userAlls.nom}}
                  </a>
                  <p class="text-sand-9 text-[13px]">
                    {{userAlls.prenom}}
                    
                  </p>
                </div>
                <form action="/followers/{{userAlls.id}}" method="POST">
                  {{ csrfField() }}
                  @if(tableauAbonnement.includes(userAlls.id))
                  <button type="submit" class="bg-black border-[0.5px] rounded-3xl h-9 py-1 px-2 text-white hover:text-red-500 hover:border-red-500 hover:bg-[#200A0C] font-bold rounded-[30px]">Unfollow</button>
                  @else
                  <button type="submit" class="bg-white h-9 py-1 px-2 text-black hover:bg-[#D7DBDC] font-bold rounded-[30px]">Follow</button>
                  @endif
              </form>
              </div>
              @if(userAlls.biographie)
              <p>
                {{userAlls.biographie}}
              </p>
              @endif
            </div>
          </div>
          @end

          <a href="" class="hover:bg-[#080808] rounded-lg text-blue-400 p-4 w-[100%]">Show more</a>
          
        </section>
        @include('components/sectionSearch')
      </div>
      @include('components/newTweet')

  </body>
</html>


    