<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Home
    </title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <style>
      :root {
        --sand-1: #fdfdfc;
        --sand-2: #f9f9f8;
        --sand-3: #f1f0ef;
        --sand-4: #e9e8e6;
        --sand-5: #e2e1de;
        --sand-6: #dad9d6;
        --sand-7: #cfceca;
        --sand-8: #bcbbb5;
        --sand-9: #8d8d86;
        --sand-10: #82827c;
        --sand-11: #63635e;
        --sand-12: #21201c;
      }
    </style>

    <script src="https://cdn.tailwindcss.com">
      
    </script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: [ "Instrument Sans", "sans-serif" ]
            },
            colors: {
              primary: {
                DEFAULT: "#5A45FF",
                lighter: "#a599ff"
              },
              sand: {
                1: "var(--sand-1)",
                2: "var(--sand-2)",
                3: "var(--sand-3)",
                4: "var(--sand-4)",
                5: "var(--sand-5)",
                6: "var(--sand-6)",
                7: "var(--sand-7)",
                8: "var(--sand-8)",
                9: "var(--sand-9)",
                10: "var(--sand-10)",
                11: "var(--sand-11)",
                12: "var(--sand-12)"
              }
            }
          }
        }
      };
    </script>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body id="body" class="h-full bg-black">
    <div id="allSection" class="flex h-full bg-black">
      @include('components/navbar')
      <section class="bg-black lg:w-[600px] h-full md:w-[90%] w-[85%]">

        <div class="flex items-center gap-3 px-6 py-4 border border-[#333639]">
          <a href="/">            <img class="w-11 h-11 hover:bg-sand-11 p-2 rounded-[50%] rounded-[50%]" src="/icons/arrow-back.svg" alt="" /></a>
          <div>
            <p class="text-[#D9D9D9] font-bold text-lg">
              {{user?.prenom}} {{user?.nom}}
            </p>
            <p class="text-sand-9">
              {{count}} posts
            </p>
          </div>
        </div>

        <div class="text-[#D9D9D9] border-r border-l border-[#333639]">
          <div class="relative mb-[110px] md:mb-[110px] lg:mb-[90px] ">
            <img class="w-full lg:h-[200px]"
            src="/icons/artificial-intelligence-5291510_1280.jpg" alt="">
            <div class="flex justify-between w-full  items-center p-3 absolute top-[45px] md:top-[120px] lg:top-[100px]">
              <img
                class="md:w-[150px] md:h-[150px] w-[115px] h-[115px] border-4 border-black rounded-[50%]"
                src="https://i5.walmartimages.com/asr/63a7df2a-a706-479e-a388-5dd184fb21d8.30c3b97393fa9b8f7d0e164abc324f24.jpeg"
                alt=""
              />
              <a class="hover:bg-[#181919] relative lg:top-9 md:top-8 top-5 font-bold border px-3 py-1 rounded-[30px]" href="">Edit profile</a>
            </div>
          </div>
          <div class="p-4 flex flex-col gap-1">
            <div>
              <p class="text-white font-bold text-xl">
                {{user?.prenom}} {{user?.nom}}
              </p>
              <p class="text-sand-9">
                @ {{user?.nom}}
              </p>
            </div>
            <p class="text-sand-9">
              Joined  {{user?.createdAt.toFormat('MM/yyyy')}}
            </p>
            <div class="flex gap-2">
              <a href="#" class="text-sand-9 hover:underline hover:text-white">
                <span class="font-bold text-white">95</span>Followers
            </a>
              <a href="#" class="text-sand-9 hover:underline hover:text-white">
                <span class="font-bold text-white">10</span>Following
            </a>
            </div>
          </div>
        </div>
        <div class="border-r border-l border-[#333639] pt-3">
          <div class="grid grid-cols-6">
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Posts</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Replies</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Highlights</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Articles</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Média</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Likes</a>
          </div>
          <div>
            @each(publications in publication)
            <section class="border-y-[0.5px] border-[#333639] flex p-3 gap-3 bg-black ">
              <img
                class="w-10 h-10 rounded-[50%]"
                src="https://i5.walmartimages.com/asr/63a7df2a-a706-479e-a388-5dd184fb21d8.30c3b97393fa9b8f7d0e164abc324f24.jpeg"
                alt=""
              />
              <div class="flex flex-col gap-3 lg:w-[100%]">
                <div class="flex gap-2">
                  <p class="font-bold  text-[#D9D9D9]">
                    {{user?.prenom}}
                  </p>
                  <p class="text-sand-10">
                    @ {{user?.nom}}
                  </p>
                </div>
                <p class="text-[#D9D9D9]">
                  {{publications.texte}}
                </p>
                <img src="uploads/{{publications.media}}" alt="" />
                <video src="uploads/{{publications.media}}" autoplay loop muted alt="" ></video>

                <div class="md:w-[100%] w-[350px]  grid grid-cols-4 pt-4">
                  <div class="flex gap-2">
                    <a href="">                  <img src="/icons/Reply.svg" alt="" /></a>
                    <p class="text-sand-10">
                      52
                    </p>
                  </div>
                  <div class="flex gap-2">
                    <a href="">                  <img src="/icons/Retweet.svg" alt="" /></a>
                    <p class="text-sand-10">
                      178
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <a href="">                  <img src="/icons/Buton.svg" alt="" /></a>
                    <p class="text-sand-10">
                      85
                    </p>
                  </div>
                  <div>
                    <a href="">                  <img src="/icons/Share.svg" alt="" /></a>
                  </div>
                </div>
              </div>
            </section>
            @end
          </div>
        </div>

        <div class="text-white border border-[#333639] p-4">
          <p class="text-xl font-bold mb-6">
            Who to follow
          </p>
          <div class="flex gap-4 mb-5">
            <img
              class="w-10 h-10 rounded-[50%]"
              src="https://www.bcd-jeux.fr/34087-pdt_771/creart-new-york-city-format-carre-peinture-au-numero-ravensburger.jpg"
              alt=""
            />
            <div class="flex flex-col gap-3">
              <div class="flex justify-between items-center">
                <div>
                  <p>
                    CNN
                  </p>
                  <p class="text-sand-9 text-[13px]">
                    @CNN
                  </p>
                </div>
                <a class="bg-white px-3 py-1 hover:bg-[#D7DBDC] rounded-[30px] text-black" href="">Follow</a>
              </div>
              <p>
                Le plus grand site d'infos en RD CONGO. Site d’Infos générales : Politique, Sécuritaire, Économique, Sociale, Culturelle et Sportive. Infos fiables.
              </p>
            </div>
          </div>
          <div class="flex gap-4 mb-5">
            <img
              class="w-10 h-10 rounded-[50%]"
              src="https://www.bcd-jeux.fr/34087-pdt_771/creart-new-york-city-format-carre-peinture-au-numero-ravensburger.jpg"
              alt=""
            />
            <div class="flex flex-col gap-3">
              <div class="flex justify-between items-center">
                <div>
                  <p>
                    CNN
                  </p>
                  <p class="text-sand-9 text-[13px]">
                    @CNN
                  </p>
                </div>
                <a class="bg-white px-3 py-1 hover:bg-[#D7DBDC] rounded-[30px] text-black" href="">Follow</a>
              </div>
              <p>
                Le plus grand site d'infos en RD CONGO. Site d’Infos générales : Politique, Sécuritaire, Économique, Sociale, Culturelle et Sportive. Infos fiables.
              </p>
            </div>
          </div>

          <a href="" class="hover:bg-[#080808] rounded-lg text-blue-400 p-4 w-[100%]">Show more</a>
          
        </section>
        @include('components/sectionSearch')
      </div>
      @include('components/newTweet')
    </body>
  </html>
