<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Home
    </title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <style>
      :root {
        --sand-1: #fdfdfc;
        --sand-2: #f9f9f8;
        --sand-3: #f1f0ef;
        --sand-4: #e9e8e6;
        --sand-5: #e2e1de;
        --sand-6: #dad9d6;
        --sand-7: #cfceca;
        --sand-8: #bcbbb5;
        --sand-9: #8d8d86;
        --sand-10: #82827c;
        --sand-11: #63635e;
        --sand-12: #21201c;
      }
    </style>

    <script src="https://cdn.tailwindcss.com">
      
    </script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: [ "Instrument Sans", "sans-serif" ]
            },
            colors: {
              primary: {
                DEFAULT: "#5A45FF",
                lighter: "#a599ff"
              },
              sand: {
                1: "var(--sand-1)",
                2: "var(--sand-2)",
                3: "var(--sand-3)",
                4: "var(--sand-4)",
                5: "var(--sand-5)",
                6: "var(--sand-6)",
                7: "var(--sand-7)",
                8: "var(--sand-8)",
                9: "var(--sand-9)",
                10: "var(--sand-10)",
                11: "var(--sand-11)",
                12: "var(--sand-12)"
              }
            }
          }
        }
      };
    </script>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body id="body" class="h-full bg-black">
    <div id="allSection" class="flex h-full bg-black">
      @include('components/navbar')
      <section class="bg-black lg:w-[600px] h-full md:w-[90%] w-[85%]">

        <div class="flex items-center gap-3 px-6 py-4 border border-[#333639]">
          <a href="/">            <img class="w-11 h-11 hover:bg-sand-11 p-2 rounded-[50%] rounded-[50%]" src="/icons/arrow-back.svg" alt="" /></a>
          <div>
            <p class="text-[#D9D9D9] font-bold text-lg">
              {{user?.prenom}} {{user?.nom}}
            </p>
            <p class="text-sand-9">
              {{totalPost}} posts
            </p>
          </div>
        </div>

        <div class="text-[#D9D9D9] border-r border-l border-[#333639]">
          <div class="relative mb-[110px] md:mb-[110px] lg:mb-[90px] ">
            @if(user?.photoDeCouverture)
            <img class="w-full lg:h-[200px]"
            src="/uploads/{{user?.photoDeCouverture}}" alt="">
            @else
            <div class="w-full lg:h-[200px] bg-[#333639]">
            </div>
            @endif

            <div class="flex justify-between w-full  items-center p-3 absolute top-[45px] md:top-[120px] lg:top-[100px]">
              @if(user?.photoDeProfil)
              <img
                class="md:w-[150px] md:h-[150px] w-[115px] h-[115px] border-4 border-black rounded-[50%]"
                src="/uploads/{{user?.photoDeProfil}}"
                alt=""
              />
              @else
            <div class="md:w-[150px] md:h-[150px] w-[115px] h-[115px] lg:text-[60px] bg-[#78909C] lg  text-white flex items-center justify-center rounded-[50%] px-4">

          <p>{{ (user?.nom).charAt(0) }}</p>
        </div>
        @endif
              <button type="button" id="btnEdit" class="hover:bg-[#181919] relative lg:top-9 md:top-8 top-5 font-bold border px-3 py-1 rounded-[30px]" >Edit profile</button>
            </div>
          </div>
          <div class="p-4 flex flex-col gap-1">
            <div>
              <p class="text-white font-bold text-xl">
                {{user?.prenom}} {{user?.nom}}
              </p>
              <p class="text-sand-9">
                @ {{user?.nom}}
              </p>
            </div>
            @if(user?.biographie && user.biographie !== 'null')
            <p class="w-full text-sand-9">
              {{user?.biographie}}
            </p>
            @endif
            <div class="flex gap-3">
              @if(user?.localisation && user.localisation !== 'null')
              <p class="text-sand-9">
                {{user?.localisation}}
              </p>
              @endif
              @if(user.lien  && user?.lien !== 'null')
              <a href="{{user?.lien}}" class="text-blue-500">
                {{user?.lien}}
              </a>
              @endif
              <p class="text-sand-9">
                Joined  {{user?.createdAt.toFormat('MM/yyyy')}}
              </p> 
            </div>
            <div class="flex gap-2">
              <a href="/getFollowers" class="text-sand-9 hover:underline hover:text-white">
                <span class="font-bold text-white">{{total1}} </span>Followers
            </a>
              <a href="/getFollowings" class="text-sand-9 hover:underline hover:text-white">
                <span class="font-bold text-white">{{total2}}</span>Following
            </a>
            </div>
          </div>
        </div>
        <div class="border-r border-l border-[#333639] pt-3">
          <div class="grid grid-cols-6">
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Posts</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Replies</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Highlights</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Articles</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Média</a>
            <a href="#" class="text-white md:text-md text-[12px] text-center hover:bg-[#181818] p-2 md:p-3">Likes</a>
          </div>
          <div>
            @each(publications in publication)
            <section class="border-y-[0.5px] border-[#333639] flex p-3 gap-3 bg-black ">
              @if(user?.photoDeProfil)
              <img
                class="w-10 h-10 rounded-[50%]"
                src="/uploads/{{user?.photoDeProfil}}"
                alt=""
              />
              @else
              <div class="w-[40px] h-[40px] bg-[#78909C]  text-white flex items-center justify-center rounded-[50%] px-4">
                <p>{{(user?.nom).charAt(0)}} </p>
              </div>
              @endif

              <div class="flex flex-col gap-3 lg:w-[100%]">
                <div class="flex gap-2">
                  <p class="font-bold  text-[#D9D9D9]">
                    {{user?.prenom}}
                  </p>
                  <p class="text-sand-10">
                    @ {{user?.nom}}
                  </p>
                </div>
                <a href="/getCommentaire/{{publications.id}}"  class="text-[#D9D9D9]">
                  {{publications.texte}}
                </a>
                <img src="uploads/{{publications.media}}"  class="rounded-xl" alt="" />
                @if(publications.media)
                <video src="uploads/{{publications.media}}"  class="rounded-xl" autoplay loop  alt="" ></video>
                @endif
                <div class="md:w-[100%] w-[350px] flex gap-[110px] items-center">
                  <div class="flex gap-2">
    
                 <button class="btnCommentaire" type="button" id="{{publications.retweet.idPublication}}">
                  <div class="flex gap-1 hover:text-blue-500">
                    <p class="p-1 w-[30px] h-[30px] rounded-[50%]  hover:bg-[#0A171F]  flex items-center justify-center">
                    <img class="w-[18px] h-[25px] rounded-[50%] " onmouseover="this.src='/icons/commentaire-bleu.svg'"
                    onmouseout="this.src='/icons/commentaire.svg'" src="/icons/commentaire.svg" alt="" />
                    </p>
                <p class="line text-sand-10 hover:text-blue-500 mt-1" class="">
                {{publications.retweet.publication.nombreCommentaire}}
                </p>       </div>         </button>          
    
               
                  </div>
                  <div class="flex gap-2">
                 @if(retweetVerifie.includes(publications.retweet.idPublication))
                 <a href="/retweet/{{publications.retweet.idPublication}}">              <div class="flex gap-1">
                  <img class="w-[32px] h-[32px] p-[6px] rounded-[50%] hover:bg-[#071A14]" src="/icons/retweet-vert.svg" alt="" />
                  <p class="text-green-500 mt-1">
                    {{publications.retweet.publication.nombreRetweet}}
                  </p></div></a>
                      @else 
                      <a href="/retweet/{{publications.retweet.idPublication}}">              <div class="flex gap-1">
                        <img class="w-[32px] h-[32px] p-[6px] rounded-[50%] hover:bg-[#071A14]" onmouseover="this.src='/icons/retweet-vert.svg'"
                        onmouseout="this.src='/icons/retweet.svg'" src="/icons/retweet.svg" alt="" />
                        <p class="text-sand-10 relative top-[5px] ml-2">
                          {{publications.retweet.publication.nombreRetweet}}
                        </p></div></a>
                        @endif
                   
                  </div>
                  <div class="flex items-center gap-2">
                 @if(likeVerifie.includes(publications.retweet.idPublication))
                 <a href="/like/{{publications.retweet.idPublication}}">         <div class="flex items-center gap-1">
                  <img class="w-[30px] h-[30px] p-[7px] rounded-[50%] hover:bg-[#200914]" src="/icons/heart-red.svg"  alt="" />
                  <p class="text-[#F91880]">
                    {{publications.retweet.publication.nombreLike}}
                  </p></div></a>
                      @else
                      <a href="/like/{{publications.retweet.idPublication}}">         <div class="flex items-center gap-1">
                        <img class="w-[30px] h-[30px] p-[7px] rounded-[50%] hover:bg-[#200914]" src="/icons/heart.svg" onmouseover="this.src='/icons/heart-red2.svg'"
                        onmouseout="this.src='/icons/heart.svg'" alt="" />
                        <p class="text-sand-10">
                          {{publications.retweet.publication.nombreLike}}
                        </p></div></a>
                        @endif
                   
                  </div>
                  <div>
                    <a href="">                  <img src="/icons/Share.svg" alt="" /></a>
                  </div>
                </div>
              </div>
            </section>
            @end
          </div>
        </div>

        <div class="text-white border border-[#333639] p-4">
          <p class="text-xl font-bold mb-6">
            Who to follow
          </p>
          @each(userAlls in userAll)
          <div class="flex gap-4 mb-5 w-full">
            @if(userAlls.photoDeProfil)
            <img
              class="w-10 h-10 rounded-[50%]"
              src="/uploads/{{userAlls.photoDeProfil}}"
              alt=""
            />
            @else
            <div class="w-[40px] h-[40px] bg-[#78909C]  text-white flex items-center justify-center rounded-[50%] px-4">

          <p>{{ (userAlls.nom).charAt(0) }}</p>
        </div>
        @endif
            <div class="flex flex-col gap-3 w-full">
              <div class="flex justify-between items-center w-full">
                <div>
                  <a class="hover:underline" href="/user/{{userAlls.id}}">
                    {{userAlls.nom}}
                  </a>
                  <p class="text-sand-9 text-[13px]">
                    {{userAlls.prenom}}
                    
                  </p>
                </div>
                <form action="/followers/{{userAlls.id}}" method="POST">
                  {{ csrfField() }}
                  @if(tableauAbonnement.includes(userAlls.id))
                  <button type="submit" class="bg-black border-[0.5px] rounded-3xl h-9 py-1 px-2 text-white hover:text-red-500 hover:border-red-500 hover:bg-[#200A0C] font-bold rounded-[30px]">Unfollow</button>
                  @else
                  <button type="submit" class="bg-white h-9 py-1 px-2 text-black hover:bg-[#D7DBDC] font-bold rounded-[30px]">Follow</button>
                  @endif
              </form>
              </div>
              @if(userAlls.biographie)
              <p>
                {{userAlls.biographie}}
              </p>
              @endif
            </div>
          </div>
          @end

          <a href="" class="hover:bg-[#080808] rounded-lg text-blue-400 p-4 w-[100%]">Show more</a>
          
        </section>
        @include('components/sectionSearch')
      </div>
      @include('components/newTweet')
      <script>

 const btnEdit = document.querySelector(`#btnEdit`)
 btnEdit.addEventListener("click", ()=>{
  
  const container = document.querySelector(`body`);
    const container2 = document.querySelector(`#allSection`);
    container2.style.opacity = "30%";
    container.className = "bg-sand-12";
    const sectionForm = document.createElement("form");
    sectionForm.method = "POST";
    sectionForm.action = "/edit"; 
    sectionForm.enctype = "multipart/form-data"   
    sectionForm.className = "bg-black overflow-y-auto lg:top-[10%] md:top-[10%] top-[1%] md:left-[16%] lg:left-[28.5%] px-[3px] pt-[5px] pb-[15px] absolute md:w-[520px] lg:w-[43%] h-[100%] w-[100%] md:h-[550px] rounded-[20px] flex flex-col gap-0";
    container.appendChild(sectionForm);

    const head = document.createElement("div");
    head.className = "flex items-start mb-4   px-2 md:w-[520px] lg:w-[43%] w-[100%]"
    sectionForm.appendChild(head);

    const sectionHeadDescription = document.createElement("div");
    sectionHeadDescription.className = "flex gap-5 items-center"
    head.appendChild(sectionHeadDescription);

    const btnRetour = document.createElement("a");
    btnRetour.href = "";
    btnRetour.className = "text-white lg:text-[25px] hover:bg-sand-11 rounded-[30px] py-[3px] h-[33px] lg:pt-0  lg:h-[38px] px-[10px] "
    btnRetour.style.textDecoration = 'none';
    btnRetour.textContent = "x";
    sectionHeadDescription.appendChild(btnRetour);

   

    const Titre = document.createElement("p");
    Titre.className = "text-white text-bold font- lg:w-[400px] text-xl";
    Titre.textContent = "Edit Profile";
    sectionHeadDescription.appendChild(Titre);

    const btnSave = document.createElement("button");
    btnSave.className = "text-black w- h-[30px] bg-white px-4 mt-2 py-0 rounded-3xl";
    btnSave.textContent = "Save";
    head.appendChild(btnSave);


    const sectionMain = document.createElement("div");
    sectionMain.className = "relative"
    sectionForm.appendChild(sectionMain);

    
    // // const labelProfil = document.createElement("label");
    // // const inputFileCouverture = document.createElement("input");
    // const photoProfil = document.createElement("img");
    // photoProfil.className = "absolute z-1 lg:top-[160px] lg:left-[20px] border-4 border-black rounded-[50%] w-[120px] h-[120px]"
    // photoProfil.src = "https://i5.walmartimages.com/asr/63a7df2a-a706-479e-a388-5dd184fb21d8.30c3b97393fa9b8f7d0e164abc324f24.jpeg"
    // sectionMain.appendChild(photoProfil);
    // const labelProfil = document.createElement("label");
    // labelProfil.name = "labelProfil";
    // labelProfil.className = "w-full h-full  z-10 flex items-center justify-center";
    // photoProfil.appendChild(labelProfil);

    // const labelIcon = document.createElement("img");
    // labelIcon.className = "w-[30px] h-[30px]";
    // labelIcon.src = "/icons/Home.svg"
    // labelProfil.appendChild(labelIcon);


    // const inputFileProfil = document.createElement("input");
    // inputFileProfil.id = "labelProfil";
    // inputFileProfil.name = "labelProfil";
    // inputFileProfil.type = "file";
    // inputFileProfil.className = "hidden";
    // photoProfil.appendChild(inputFileProfil);


    const labelProfil = document.createElement("label");
    labelProfil.htmlFor = "labelProfil";

    sectionMain.appendChild(labelProfil);

     const inputFileProfil = document.createElement("input");
    inputFileProfil.id = "labelProfil";
    inputFileProfil.name = "photoDeCouverture";
    inputFileProfil.type = "file";
    inputFileProfil.className = "hidden";
    sectionMain.appendChild(inputFileProfil);
    let test = "{{user?.photoDeCouverture}}";

    if(test !== 'null'){
      const photoCouverture = document.createElement("img");
    photoCouverture.className = "w-full lg:h-[200px]";
    photoCouverture.src = "/uploads/{{user?.photoDeCouverture}}"
    labelProfil.appendChild(photoCouverture);

    }else{
      const div = document.createElement("div");
      div.className = "w-full lg:h-[200px]  bg-[#333639]"
      labelProfil.appendChild(div);

    }
  

    const labelProfil2 = document.createElement("label");
    labelProfil2.htmlFor = "labelProfil2";
    

    sectionMain.appendChild(labelProfil2);

     const inputFileProfil2 = document.createElement("input");
    inputFileProfil2.id = "labelProfil2";
    inputFileProfil2.name = "photoDeProfil";
    inputFileProfil2.type = "file";
    inputFileProfil2.className = "hidden";
    sectionMain.appendChild(inputFileProfil2);

    let test2 = "{{user?.photoDeProfil}}";

    
    if(test2 !== "null"){
      const photoProfil = document.createElement("img");
    photoProfil.className = "absolute lg:top-[160px] lg:left-[20px] border-4 border-black rounded-[50%] w-[120px] h-[120px]"
    photoProfil.src = "/uploads/{{user?.photoDeProfil}}"

    labelProfil2.appendChild(photoProfil);

    } else{
      const sectionNon = document.createElement("div");
      sectionNon.className = "absolute bg-[#78909C] lg:top-[160px] lg:left-[20px] w-[120px] h-[120px] rounded-[50%] flex items-center text-white text-[35px] justify-center";
      labelProfil2.appendChild(sectionNon);

      const para = document.createElement("p");
      para.innerHTML = "{{ (user?.nom).charAt(0) }}";
      sectionNon.appendChild(para);
      
    };
    const inputName = document.createElement("input");
    inputName.className = "rounded-sm px-4 ml-3 border-[#333639] lg:w-[520px] py-3 bg-black lg:mt-[90px] border-[0.5px] text-white";
    inputName.placeholder = "Nom";
    inputName.value = "{{user?.nom}}";
    inputName.name = "nom";
    sectionForm.appendChild(inputName);

    const inputPrenom = document.createElement("input");
    inputPrenom.className = "rounded-sm px-4 ml-3 border-[#333639] lg:w-[520px] py-3 bg-black lg:mt-[20px] border-[0.5px] text-white";
    inputPrenom.placeholder = "Prenom";
    inputPrenom.value = "{{user?.prenom}}";
    inputPrenom.name = "prenom";

    sectionForm.appendChild(inputPrenom);

    const inputBiographie = document.createElement("input");
    inputBiographie.className = "rounded-sm px-4 ml-3 border-[#333639] lg:w-[520px] py-3 bg-black lg:mt-[20px] border-[0.5px] text-white";
    inputBiographie.placeholder = "Biographie";
    let testBio = "{{user?.biographie}}";

    if(testBio !== "null"){
    inputBiographie.value = "{{user?.biographie}}"; 
    }
    inputBiographie.name = "biographie";

    sectionForm.appendChild(inputBiographie);


    const inputLocalisation = document.createElement("input");
    inputLocalisation.className = "rounded-sm px-4 ml-3 border-[#333639] lg:w-[520px] py-3 bg-black lg:mt-[20px] border-[0.5px] text-white";
    inputLocalisation.placeholder = "Localisation";

    let testLoc = "{{user?.localisation}}";

    if(testLoc !== 'null'){
      inputLocalisation.value = "{{user?.localisation}}";

    }

    inputLocalisation.name = "localisation";
    sectionForm.appendChild(inputLocalisation);

    const inputWebSite = document.createElement("input");
    inputWebSite.className = "rounded-sm px-4 ml-3 border-[#333639] lg:w-[520px] py-3 bg-black lg:mt-[20px] border-[0.5px] text-white";
    inputWebSite.placeholder = "WebSite";

    let testlien = "{{user?.lien}}";

    if(testlien !== 'null'){
    inputWebSite.value = "{{user?.lien}}";

    }


    inputWebSite.name = "lien";

    sectionForm.appendChild(inputWebSite);


    const inputCSRF = document.createElement("p");
    inputCSRF.innerHTML = `{{ csrfField() }}`;
    sectionForm.appendChild(inputCSRF);

    

 })
  
      </script>
    </body>
  </html>
